
.btn-primary {
    margin: 10px;
    background-color: rgb(14, 14, 112);
    border-color:black;
  
    
}
.conteiner {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

@mixin boton {
    background-color: $color_fondo;
    padding: 1rem;
    border: 0px;
    color: black;
    margin-right: 15px;
    border-radius: 10px;
}

.boton-enviar {
    @include boton;
    margin: 1rem;

    
}
.boton-cancelar {
    @include boton;
    margin: 1rem;

    
}
