/* BARRA DE NAVEGACION */
header {
    background-color:rgb(3, 3, 79);
  
    
}
.navbar-nav {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
 
}
.navbar-nav a {
    color: $color_texto;
}
.navbar {
    padding: 2rem;
}
.dropdown-menu a {
    color: black;

}
h4 {
    color: yellow;
}

.navbar-collapse {

    align-items: center;
    justify-content: space-between;
   
   
 }
 .navbar-toggler {
    color:$color_texto;
 }
 .navbar-toggler-icon {
    color: $color_texto;
 }

